<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffee Shop Login</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body class="font-sans">
    <%- include('./partials/header.ejs')-%>
    <div class="bg-gray-100 flex items-center justify-center h-screen">
      <div class="bg-white p-8 rounded-lg shadow-md w-96">
        <h2 class="text-3xl font-bold mb-6">Coffee Shop Login</h2>

        <form name="form" method="post">
          <div class="mb-4">
            <label for="email" class="block text-sm font-medium text-gray-600"
              >Email</label
            >
            <input
              required
              type="email"
              id="email"
              name="email"
              class="mt-1 p-2 w-full border rounded-md"
            />
            <h2 class="text-red-500" id="email-err"></h2>
          </div>

          <div class="mb-6">
            <label
              for="password"
              class="block text-sm font-medium text-gray-600"
              >Password</label
            >
            <input
              required
              type="password"
              id="password"
              name="password"
              class="mt-1 p-2 w-full border rounded-md"
            />
            <h2 class="text-red-500" id="pass-err"></h2>
          </div>

          <button
            type="submit"
            class="w-full bg-blue-600 text-white p-2 rounded-md hover:bg-blue-700"
          >
            Log In
          </button>
        </form>
        <div class="flex pt-2">
          <h2 class="mr-1">Don't have account?</h2>
          <a href="/register" class="hover:text-blue-500">Register here</a>
        </div>
      </div>
    </div>
    <script>
      const form = document.querySelector("form");
      const email_err = document.getElementById("email-err");
      const pass_err = document.getElementById("pass-err");
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        formdata = new FormData(e.target);
        const email = formdata.get("email");
        const password = formdata.get("password");
        try {
          fetch("/login", {
            method: "post",
            body: JSON.stringify({ email, password }),
            headers: { "Content-Type": "application/json" },
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.email) {
                email_err.innerText = data.email;
                pass_err.innerText = "";
              }
              if (data.password) {
                pass_err.innerText = data.password;
                email_err.innerText = "";
              }
              if (data.user) {
                window.location.href = "/specials";
              }
            });
        } catch (e) {
          console.log(e);
        }
      });
    </script>
  </body>
</html>
