<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffee Shop Login</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body class="font-sans">
    <%- include('./partials/header.ejs')-%>
    <div class="bg-gray-100 flex items-center justify-center h-screen">
      <div class="bg-white p-8 rounded-lg shadow-md w-96">
        <h2 class="text-3xl font-bold mb-6">Coffee Shop Register</h2>
        <form name="form" method="post">
          <h2 class="text-red-500" id="error"></h2>
          <div class="mb-4">
            <label for="email" class="block text-sm font-medium text-gray-600"
              >Email</label
            >
            <input
              type="email"
              id="email"
              name="email"
              class="mt-1 p-2 w-full border rounded-md"
            />
          </div>

          <div class="mb-6">
            <label
              for="password"
              class="block text-sm font-medium text-gray-600"
              >Password</label
            >
            <input
              type="password"
              id="password"
              name="password"
              class="mt-1 p-2 w-full border rounded-md"
            />
          </div>

          <div class="mb-6">
            <label
              for="cpassword"
              class="block text-sm font-medium text-gray-600"
              >Confirm Password</label
            >
            <input
              type="password"
              id="cpassword"
              name="cpassword"
              class="mt-1 p-2 w-full border rounded-md"
            />
          </div>

          <button
            type="submit"
            class="w-full bg-yellow-500 text-white p-2 rounded-md hover:bg-yellow-600"
          >
            Register
          </button>
        </form>
      </div>
    </div>
    <script>
      const error = document.getElementById("error");
      const sucess = document.getElementById("sucess");
      const form = document.querySelector("form");
      form.addEventListener("submit", async (event) => {
        event.preventDefault();
        formdata = new FormData(event.target);
        const email = formdata.get("email");
        const password = formdata.get("password");
        const cpassword = formdata.get("cpassword");
        if (password !== cpassword) {
          error.innerText = "Password doesnot match";
          return false;
        }
        try {
          // const res = await
          fetch("/register", {
            method: "post",
            body: JSON.stringify({ email, password }),
            headers: { "Content-Type": "application/json" },
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.email) {
                error.innerText = data.email;
              } else if (data.password) {
                error.innerText = data.password;
              } else if (data.message) {
                error.className = "text-green-500";
                error.innerText = data.message;
              } else {
                error.innerText = "";
              }
              form.reset();
            })
            .catch((err) => {
              console.log(err);
              error.innerText = err;
            });
        } catch (e) {
          console.log("Some error Try again" + e);
        }
      });
    </script>
  </body>
</html>
