<%- include('./partials/header'); -%>

<div>
  <div>
   
    <a href="/logout"> <button class="bg-red-600 px-5 py-2 m-3 rounded-md text-white hover:bg-red-700">Logout</button></a>  </div>
  <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 recipes mt-16">
    <li class="recipe bg-white rounded-lg overflow-hidden shadow-md">
      <img src="/smoothie.png" alt="smoothie recipe icon" class="w-20 mx-auto -mt-8">
      <h4 class="text-lg font-bold mt-4">Banana Boost</h4>
      <p class="text-gray-700">Banana, Vanilla ice cream, Milk</p>
    </li>
    <li class="recipe bg-white rounded-lg overflow-hidden shadow-md">
      <img src="/smoothie.png" alt="smoothie recipe icon" class="w-20 mx-auto -mt-8">
      <h4 class="text-lg font-bold mt-4">Tropical Twist</h4>
      <p class="text-gray-700">Peach, Pineapple, Apple juice</p>
    </li>
    <li class="recipe bg-white rounded-lg overflow-hidden shadow-md">
      <img src="/smoothie.png" alt="smoothie recipe icon" class="w-20 mx-auto -mt-8">
      <h4 class="text-lg font-bold mt-4">Protein Packer</h4>
      <p class="text-gray-700">Oats, Peanut butter, Milk, Banana, Blueberries</p>
    </li>
    <li class="recipe bg-white rounded-lg overflow-hidden shadow-md">
      <img src="/smoothie.png" alt="smoothie recipe icon" class="w-20 mx-auto -mt-8">
      <h4 class="text-lg font-bold mt-4">Banana Boost</h4>
      <p class="text-gray-700">Banana, Vanilla ice cream, Milk</p>
    </li>
    <li class="recipe bg-white rounded-lg overflow-hidden shadow-md">
      <img src="/smoothie.png" alt="smoothie recipe icon" class="w-20 mx-auto -mt-8">
      <h4 class="text-lg font-bold mt-4">Tropical Twist</h4>
      <p class="text-gray-700">Peach, Pineapple, Apple juice</p>
    </li>
    <li class="recipe bg-white rounded-lg overflow-hidden shadow-md">
      <img src="/smoothie.png" alt="smoothie recipe icon" class="w-20 mx-auto -mt-8">
      <h4 class="text-lg font-bold mt-4">Protein Packer</h4>
      <p class="text-gray-700">Oats, Peanut butter, Milk, Banana, Blueberries</p>
    </li>
  </ul>
</div>

<%- include('partials/footer'); -%>
